@charset "UTF-8";
/* =========================================================
   * execution.css
   * auth : Been Daye
   * date : 2026-01-04
   * desc : 영상검사, 물리치료 css
   ========================================================= */

.patient-list {
    padding: 0 8px;
}
.patient-item {
	transition: all 0.2s ease-in;
}
.patient-item:hover {
    border: 2px solid var(--color-primary);
}
.patient-item.active {
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 0 4px var(--color-bg-selected);
}
.my--8 {
    margin: 0 -8px;
}
.mx--16 {
	margin: 0 -1rem;
}
.order-item:last-child {
	margin-bottom: 0;
}

/* fileupload disabled */
.file-dropzone.disabled {
    cursor: not-allowed;
}
.file-dropzone.disabled > * {
    color: var(--color-gray-400);
}
.file-dropzone.disabled:hover {
    border: 2px dashed var(--color-border);
    background: var(--color-bg-secondary);
}
button:disabled {
	cursor: default;
}

/* 약제실 card */
.card {
	cursor: default;
}
.status-going-card, .status-danger-card {
    position: relative;
}
.status-going-card::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-primary);
}
.status-default-card .card-body {
	padding-top: var(--spacing-sm);
}
.status-danger-card:hover{
	border-color: var(--color-destructive);
}
.status-danger-card.active{
	border-color: var(--color-destructive);
	box-shadow: 0 0 0 4px var(--color-danger-light);
}
.status-danger-card::before{
	content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-destructive);
}
.status-danger {
	color: var(--color-destructive);
}
.time-info::before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: var(--color-gray-400);
	margin-right: var(--spacing-sm);
}

/* callout */
.callout-sm {
	padding: var(--spacing-sm) var(--spacing-md);
	margin-top: 4px;
}
.callout-danger .callout-body{
    font-weight: var(--font-semibold);
    color: var(--color-destructive);
}
.callout-info {
	border-color: transparent;
	box-shadow: none;
}

/* 구분 */
.dot-divide > .item {
    display: inline-flex;
    align-items: center;
}
.dot-divide > .item::after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin: 0 var(--spacing-md);
	background: var(--color-border-dark);
}
.dot-divide > .item:last-child::after {
    display: none;
}

/* table */
.table td {vertical-align: middle;}

/* list */
.list-item.active {
    color: var(--color-primary);
    border-left: 3px solid var(--color-primary);
}
.list-item.active .accordion-header-title {
    color: inherit;
}

/* button */
#submitBtn:disabled .icon{
	color: var(--color-text-disabled) !important
}