<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.cpr.employee.mapper.ISecEmployeeMapper">

	<resultMap type="kr.or.ddit.cpr.vo.EmployeeVO" id="employeeMap">
		<!-- PK -->
			<id property="employeeNo" column="EMPLOYEE_NO"/>
			<result property="employeeName" column="EMPLOYEE_NAME"/>
			<result property="employeePassword" column="EMPLOYEE_PASSWORD"/>
			<result property="employeeGen" column="EMPLOYEE_GEN"/>
			<result property="employeeRegno1" column="EMPLOYEE_REGNO1"/>
			<result property="employeeRegno2" column="EMPLOYEE_REGNO2"/>
			<result property="employeeTel" column="EMPLOYEE_TEL"/>
			<result property="employeeRegdate" column="EMPLOYEE_REGDATE"/>
			<result property="employeeRetdate" column="EMPLOYEE_RETDATE"/>
			<result property="employeeStatus" column="EMPLOYEE_STATUS"/>
			<result property="employeeBirth" column="EMPLOYEE_BIRTH"/>
			<result property="employeeCode" column="EMPLOYEE_CODE"/>
			<result property="employeeEmail" column="EMPLOYEE_EMAIL"/>
			<result property="fileNo" column="FILE_NO"/>
			<result property="enabled" column="ENABLED"/>
			<result property="hospitalNo" column="HOSPITAL_NO"/>
			<result property="employeeDetailLicence" column="EMPLOYEE_DETAIL_LICENCE"/>
			<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="kr.or.ddit.cpr.vo.EmployeeAuthVO" id="authMap">
		<result property="employeeNo" column="EMPLOYEE_NO"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<!-- 인증 전용 조회, 비활성 계정 차단 -->
	<select id="readByUserInfo" parameterType="int" resultMap="employeeMap">
		select e.employee_no, employee_name, employee_password, employee_gen, employee_regno1, employee_regno2,
			   employee_tel, employee_regdate, employee_retdate, employee_status, employee_birth, employee_code,
			   employee_email, file_no, enabled, hospital_no, employee_detail_licence, a.auth
		  from EMPLOYEE e left outer join employee_auth a on(e.employee_no = a.employee_no)
		 where E.EMPLOYEE_NO = #{employeeNo}
		   AND E.ENABLED = '1'
	</select>

</mapper>